<!DOCTYPE html>
<html lang="en">
    <%- include ("../partials/head") %>
    <!--FONT DOSIS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;500&display=swap" rel="stylesheet"> 

<body>
    <%- include ("../partials/header") %> 

<main class="detail">

    <div class="box-image">
        
        <img src="/uploads/users/<%= user.image %>" alt="">
     </div>

    
        <div class="description">
            <div class="content">
                <h1 class="name">Usuario: <%= user.user_name %></h1>
                <h2 class="name">Nombre: <%= user.first_name + " " + user.last_name %></h2>
                <br>
                <br>
                <br>
                <br>
                <br>
                  
                  <div class="box-btn">
                       
                             
                       <a href="/user/userEdit/<%= user.id %>">
                       <button>Editar</button>
                       </a>

                       <form action="/user/delete/<%= user.id %>?_method=DELETE" method="post">
                        <button type="submit">Eliminar</button>
                        </form>
                        
                        <form action="/user/logout" method="post">
                            <button type="submit">Logout</button>
                            </form>

                        

                       
                  </div>
             </div>
        </div>
    
</main>

    
    <!-- <%- include ("../partials/footer") %>
 -->
    <script src="/public/js/main.js"></script>
</body>
</html>